* {
    box-sizing: border-box;
}

:root {
    
    --link-color: rgb(11, 72, 162);
    --link-color-visited: #290331;
    --link-color-active: #08f100;
    --button-active: #e00d70;
    --color-button: rgb(11, 72, 162);
    --color-button-font: white;
    --border-button-color: rgba(0, 0, 0, 0.3);
    --color-change1: #edc655;
    --color-change2: #fcffad;
    --color-change3: #f76414;
    --grid-color: lightgray;
    --font-family: 'Montserrat', sans-serif;
}

body {
    background-image:url(../img/white.jpg);
    background-size: cover;
    align-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgb(28, 98, 203)
    
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited);
}

a:active {
    color: var(--link-color-active);
}

.paragraph {
    line-height: 2.5;
    text-align: justify;
    align-content: center;
    margin-right: 150px;
    margin-left: 150px;
}

.button:active {
    background-color: var(--button-active);
}

.button,
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    background-color: var(--color-button);
    color: var(--color-button-font);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid var(--border-button-color);
    transition-duration: 0.8s;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
    font-size: 18px;
}

.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	line-height: 2em;
  color:rgb(11, 72, 162)
}


h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
  text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

video {
 width: 100%;
 height: auto;

}

.table {
    text-align: center;
    margin: 0 auto;
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    border: 3px solid rgb(11, 72, 162)
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.profile_portrait {
    flex: 0 1 200px;
}

.page-header .profile_portrait:last-child {
    flex-grow: 1;
    text-align: right;
}

.page-header__item {
  color: rgb(11, 72, 162);
  align-self: stretch;
	text-transform: uppercase;
  white-space: nowrap;
}

.navigation-list {
    list-style-type: none;
    text-align: auto;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.form {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
}

.grid_item {
    background-color: var(--grid-color);
    padding: 10%;
}

.grid_item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main-navigation {
    width: 100%;
    display: flex;
    justify-content: right;
}


@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid_item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}